<html>
  <head>
    <title>Shopping Web App</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <style>
      .content {
        margin-left: 25%;
        margin-right: 25%;
      }

      .footer {
          position: fixed;
          bottom: 0;
          width:100%;
          height: 25px;
          background-color: rgb(146, 99, 12);
          text-align: center;
          color: white;
          font-size: large;
      }
      .sticky {
          position: fixed;
          top: 0;
          width:100%;
          height: 40px;
      }
    </style>
  </head>
  <body>
    <h2 class="sticky" style="text-align: center; background-color: rgb(146, 99, 12);color:white;">Shopping Web App</h2>
    

    <div class="content">        
    <br/>
    <br/>
    <h4 style="text-align: center">(Python-Flask-PostgreSQL-Monolith Architecture)</h4>
    <hr/>
    <h4>Customer Name : Veera Raghava</h3>
      
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <!-- <th>ID</th> -->
          <th style="text-align: center">Product Name</th>
          <th style="text-align: center">Price</th>
          <th style="text-align: center">Update</th>
          <th style="text-align: center">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <!-- <td>{{ row[0] }}</td> -->
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>
            <form action="/update" method="post">
              <input type="hidden" name="id" value="{{ row[0] }}" />
              <input type="text" name="name" value="{{ row[1] }}" />
              <input type="text" name="price" value="{{ row[2] }}" />
              <input type="submit" value="Update" />
            </form>
          </td>
          <td>
            <form action="/delete" method="post">
              <input type="hidden" name="id" value="{{ row[0] }}" />
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h4>Add a new product</h4>
    <form action="/create" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="price" placeholder="Price" />
      <input type="submit" value="Create" />
    </form>
  </div>

    <footer class = "footer">
          <span>Web App developed by Veera</span>
    </footer>
  </body>
</html>
